event_log.csv
simulated_log.csv
*.csv
*.xes
*.log
__pycache__/
models/
data/
DataSet/*
Docs/*
.venv
venv/
.DS_Store
.env
.claude
simulated_log.xes
benchmark_results.xlsx
models/*.joblib
models/*.keras
__pycache__/